@font-face {
  font-family: 'Parisienne';
  src: local('Parisienne Regular'), local('Parisienne-Regular'),
    url(../assets/fonts/Parisienne/Parisienne-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
